

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #09c2dd;
    --bg-white: #ffffff;
    --text-white: #f5f6f9;
    --text-black: #222627;
 }

 body {
    font-family: 'Poppins', 'sans-serif';
    background-color: var(--bg-white);
 }